.menu{
	background-color: EEE685;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	font-size: 18px;
	padding: 10px;
	background: yellow;
}
a:link{
	color: #b9c941;
	text-decoration: none;
}
a:visited{
	color: #458b00;
}
a:hover{
	color: #8b4726;
}
a:active{
	color: #ff1493;
}